@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="row">
        <p style="font-weight:bold">CLS là hệ thông quản lý đào tạo nền tảng đám mây - Cloud Learning System - cung cấp giải pháp đào tạo nội bộ và giải pháp giáo dục trực tiếp</p>
            <span>Được 
                <a>Hương Việt Group</a>
                phát triển và chính thức đưa ra thương mại thừ tháng 3 năm 2017, CLS là hệ quản lý đào tào hoàn chỉnh đầu tiên tại Việt Nam triển khai theo công nghệ điện toán đám mây với đầy đủ các tính năng ưu việt của một hệ quản lý đào tạo hiện đại nhất.
        </span>
    </div>
    <div class="row">
        <h4 style="color: darkblue; text-align: center;">DANH SÁCH KHÓA HỌC</h4>
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-md-4">
            <a class="btn btn-info">CHỦ ĐỀ ĐỐI CHIẾU</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-info">CHỦ ĐỀ 1</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-info">XEM TẤT CẢ</a>
        </div>
    </div>

</div>
<div class="row">
    <div class="row">
        <div class="col-md-6">
            <a class="">KHÓA HỌC MỚI NHẤT</a>
        </div>
        <div class="col-md-6">
            <a class="">KHÓA NHIỀU HỌC VIÊN NHẤT</a>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-info">XEM TẤT CẢ</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-info">XEM TẤT CẢ</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-info">XEM TẤT CẢ</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-info">XEM TẤT CẢ</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-info">XEM TẤT CẢ</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-info">XEM TẤT CẢ</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-info">XEM TẤT CẢ</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-info">XEM TẤT CẢ</a>
            </div>
        </div>
    </div>
    <div class="row">
        <a class="">XEM TẤT CẢ KHÓA HỌC</a>
    </div>

</div>
<div class="row">
    <div class="row">
        <div class="col-md-6">
            <h4>CLS LAF GÌ?</h4>
            <p>
                CLS là hệ quản lý đào tạo trên nền tảng đám mây - Cloud Learning System ( Cloud Based Learning Management System) - cung cấp giải pháp đào tạo nội bộ và giải pháp giáo dục trực tuyến.
            </p>
            <p>
                Được Hương Việt Group phát triển và chính thức đưa ra thương mại từ tháng 3 năm 2017, CLS là hệ quản lý đào tạo hoàn chỉnh đầu tiên tại Việt Nam triển khai theo công nghệ điện toán dám mây với đầy đủ các tính năng ưu việt của một hệ thông quản lý đào tạo hiện đại nhất.
            </p>
        </div>
        <div class="col-md-6">
            <img height="300" src="~/Content/Image/240618txdy2y03vmp.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img  src="~/Content/Image/240618whlfdm42eic.jpg" height="300" />
        </div>
        <div class="col-md-6">
            <h4>CLS - CLOUD LEARNING SYSTEM CỦA HƯƠNG VIỆT GROUP ĐẠT GIẢI THƯỞNG SAO KHUÊ 2018</h4>
            <p>
                Hệ thống quản lý đào tạo trên nền tảng đám mấy CLS - Cloud Learning System đã vinh dự nhận Danh hiệu Sao Khuê 2018 cho nhóm sản phẩm, giải pháp phần mềm thương mại tiêu biểu của Việt Nam trong lĩnh vực Giáo dục Đào tạo.
             </p>
            <p>
                Với những tính năng nổi bật như: Quản lý, lưu trữ, phân phối khoa học linh hoạt; Phân phối khóa học đền từng người, từng nhóm người, CLS giúp người học được đào tạo mọi lúc, mọi nơi, trên nhiều loại thiết bị. Không những vậy, phần mềm còn giúp DN kiểm tra, đánh giá được kết quả học tập của từng nhân sự và theo dõi được tiến trình học tập, sự tiến bộ của nhân viên trong suốt quá trình làm việc tại công ty. Các tính năng ưu việt như: Webmeeting, tổ chức kỳ thi, báo cáo tùy chọn... được tích hợp ngày trong hệ thống mà không cần sử dụng đến nền tảng của bên thứ 3.
            </p>
            <p>
                Hiện nay, hệ thống quản lý đào tạo CLS đã được triển khai tới gần 500 DN trên khắp cả nước thuộc các lĩnh vực, ngành nghề khác nhau, từ sản xuất cho tới phân phối, bán lẻ, dịch vụ, tổ chức giáo dục...
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>CLOUD LEARNING SYSTEM VƯƠN RA THỊ TRƯỜNG NHẬT BẢN</h4>
            <p>
                Từ 7 -12/5/2018, Ban Lãnh đạo dự án CLS - Cloud Learning System (Hương Việt Group) tham dự IT Week Spring 2018 được tổ chức tại Nhật Bản.
            </p>
            <p>
                Tuần lễ CNTT Mùa Xuân Nhật Bản tập hợp hơn 15 triển lãm Software and Application Development (SODEC), Big Data Management, Embedded System, Data Storage, Information Security, Web & Digital marketing, Data Center, Smartphone & Mobile, IoT/M2M Expo...
            </p>
            <p>
                Triển lãm có sự tham gia của trên 1700 gian hàng, đón trên 91.000 lượt khách thăm quan. Đây là chương trình XTTM quốc gia do VINASA chủ trì hàng năm đã được Bộ trưởng Bộ Công thương phê duyệt.
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/Content/Image/240618254nqpwgvxu.png" height="300" />
        </div>
    </div>
</div>
